
<!DOCTYPE html>
{%load static%}
{% load i18n %}
<html lang="ru">
<head>
    {%block title%}
    {%endblock title%}
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/css/style.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

{%block content%}



{%endblock content%}

    {%include 'base/inc/callback.html'%}

    <script>
        const time = `{% trans 'Время чтения:' %}`;
        const minute = `{% trans 'минут' %}`;
    </script>

     <script src="/static/js/vendors.min.js"></script>
    <script src="/static/js/app.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/product-header.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/product-filter.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/univer_filter.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/univer_search.js' %}"></script>#}


</body>

</html>