.header__lang-item .select {
    display: none;
}

.lang__link._active input {
    font-weight: 600;
    color: #52BFFF;
    background: none;
}

.lang__link input {
    font-weight: 600;
    color: #999999;
    background: none;
    cursor: pointer;
}
.menu__list.menu__list-uz li a{
    padding: 0;
    margin: 0 6px;
}
.lang__list{
    margin-left: 55px;
}
.lang__list.lang__list-uz{
    margin-left: 30px;
}

@media (max-width: 991.98px) {
    .lang__list{
        margin-left: 0!important;
    }

}



